<div class="jumbotron">
	<div>
		<iframe src="//player.vimeo.com/video/20593006?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen align:"center"></iframe>
	</div>
</div>